In [ ]:
import sys
sys.path.append("../src")

from data_utils import load_data, show_basic_info, check_duplicates, detect_outliers

In [6]:
df = load_data("../data/raw/Admission_Predict_Ver1.1.csv")

Loaded dataset successfully with shape: (500, 9)

In [7]:
show_basic_info(df)

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB
None

Missing Values:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

First 5 rows:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65

In [8]:
check_duplicates(df)

No duplicate rows found

np.int64(0)

In [ ]:
numeric_cols = ["GRE Score", "TOEFL Score", "SOP", "LOR", "CGPA"]
outliers = detect_outliers(df, numeric_cols)
print("Outliers detected per column:", outliers)

NameError: name 'detect_outliers' is not defined